.section-formulario {
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 196, 216);
    gap: 1rem;
}
input {
    min-width: 250px;
    padding-bottom: 0.5rem;
    margin-bottom: 05.rem;
    border-radius: 5px;
    color: black;
}